body {
    margin: 0;
    color: var(--primery-text-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.link {
    text-decoration: none;
    color: inherit;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
p {
    padding: 0;
    margin: 0;
}

.img {
    display: block;
}

.card-set {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}

.feature-list .card-item,
.list-team .card-item {
    flex-basis: calc(100% / 4 - 30px);
}

.list-work .card-item,
.portfolio-list .card-item {
    flex-basis: calc(100% / 3 - 30px);
}

.card-item {
    margin-left: 30px;
    margin-top: 30px;
}

.feature-list .list-team .card-item {
    flex-basis: calc(100% / 4 - 30px);
}